.navigation {
  padding: 0 8px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation ul {
  font-weight: 500;
  list-style: none;
  display: flex;
  gap: 30px;
}
